# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# data
data/raw/
data/team_state*.json
data/artifacts/finish_position.joblib
data/artifacts/quali_position.joblib
data/artifacts/dnf_model.joblib

# visualisations
reports/*/*.png
reports/*.png

# virtual env
.venv/

# IDE
.vscode/